# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal
/db/schema.rb

# Ignore all logfiles and tempfiles.
/config/database.yml
/config/settings.yml
/log/*.log
/tmp
/public/system/
/public/uploads/
.idea/
database.env
/config/message_bus/bus_config.yml
dump.rdb
/mbus_sender.rb
/mbus_sender_local.rb
.env
test.*
/config/ci/password.txt
/run_parallel.sh