@import '../../style/variables.css';

.image-file {
  background: var(--white);
  padding: 20px 20px 14px;
  margin: 25px 0 20px;

  &__pseudo-input {
    border: 1px solid var(--silver);
    width: 100%;
    height: 40px;
    padding: 0 14px;
    display: flex;
    align-items: center;

    &-text {
      font-size: 13px;
      line-height: 20px;
      margin-bottom: 0;
      color: var(--cool_grey);
    }
  }

  &__wrapper-functional-element {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__icon-add {
    &-document {
      width: 23px;
      height: 23.8px;
      color: var(--water_blue);
      margin-right: 19px;
      cursor: pointer;

      &:hover {
        color: var(--carnation2);
      }

      &:active {
        color: var(--lipstick);
      }
    }
    &-image {
      width: 25.6px;
      height: 24.2px;
      color: var(--water_blue);
      cursor: pointer;

      &:hover {
        color: var(--carnation2);
      }

      &:active {
        color: var(--lipstick);
      }
    }
  }

  &__vertical-line {
    display: inline-block;
    width: 1px;
    height: 15px;
    background: var(--silver);
    margin: 0 19px;
  }

  &__group-element {
    display: flex;
    align-items: center;

    .form-group {
      margin-bottom: 0;
      & > label {
        display: none;
      }
    }
  }

  &__form {

    .form-group {
      textarea {
        padding-top: 9px;
      }
    }
  }
}
