.new-project {
  margin-bottom: 33px;

  &__required {
    .form-group__label {
      position: relative;
    }

    .form-group__label:after {
      content: '*';
      color: var(--reddish_pink);
      font-size: 9px;
      line-height: 10px;
      letter-spacing: 0;
      text-transform: uppercase;
      position: absolute;
      top: 0;
      right: -8px;
    }
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;

    &-title {
      margin-bottom: 0;
    }
  }

  &__wrapper {
    background-color: var(--white);
    padding: 21px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  &__data-input {
    max-width: 550px;
    min-width: 550px;
    margin-right: 110px;

    @media (max-width: 1199px) {
      max-width: unset;
      min-width: unset;
      flex: 1;
      margin-right: 30px;
    }

    & > .form-group {
      margin-bottom: 25px;
    }

    &_margin {
      & > h4 {
        margin-top: 26px;
        margin-bottom: 20px;
      }
      & > .form-group {
        margin-bottom: 15px;
      }
      & > .form-group > .form-group {
        margin: 0;
      }
    }
  }

  &__dash{
    color: var(--charcoal_grey);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin: 0 9px;
  }

  &__calendar-icon{
    position: absolute;
    top: -13px;
    bottom: 0;
    margin: auto;
    right: 10px;
    width: 20px;
    height: 20px;
    color: var(--cool_grey);
  }
  &__wrapper-calendar {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    & .form-group {
      margin-bottom: 0;
    }
  }

  &__calendar {
    position: relative;
    min-width: 170px;
    max-width: 170px;
    width: 170px;
    height: 50px;

    &:nth-child(3) {
      margin-right: 9px;
    }
     .form-group__error{
       position: absolute !important;
     }
  }
  &__info-msg {
    margin-top: 6px;
  }

  &__nowadays-checkbox {
    margin-top: -11px !important;
    margin-bottom: 0;
  }

}



.employees-search {
  background: var(--grey);
  padding: 21px 21px;
  max-width: 370px;
  min-width: 370px;

  @media (max-width: 1199px) {
    max-width: unset;
    min-width: unset;
    flex: 1;
  }

  &__group {
    margin-bottom: 15px !important;

    &-label {
      &_disabled {
        color:var(--cool_grey2) !important;
      }
    }
  }

  &__input {
    padding-left: 40px !important;
    transition: none !important;
    appearance: none !important;

    &_disabled {
      box-shadow: none !important;
      color: transparent !important;
      opacity: 0.5 !important;
    }

    &_focused {
      border: solid 1px var(--cool_grey) !important;
    }

    &-icon {
      position: absolute;
      left: 10px;
      top: 0;
      bottom: 0;
      margin: auto 0;
      width: 17px;
      height: 17px;
      color: var(--cool_grey);
    }
  }

  &__items {
    margin-top: 20px;
  }

  &__item {
    width: 100%;
    display: table;
    padding: 18px 0;
    table-layout: fixed;
    vertical-align: top;
    border-top: 1px solid var(--silver2);

    &-avatar {
      padding-top: 3px;
      width: 32px;
      display: table-cell;
      vertical-align: top;

      &-img {
        border-radius: 50%;
      }
    }

    &-name {
      width: auto;
      padding-left: 10px;
      display: table-cell;
      vertical-align: middle;
      overflow: hidden;
      color: var(--charcoal_grey);
    }

    &-position, &-departments {
      font-size: 11px;
      color: var(--cool_grey);
      line-height: 20px;
    }

    &-remove {
      width: 35px;
      display: table-cell;
      vertical-align: top;
      padding: 0 0 0 17px;
      line-height: 16px;
      cursor: pointer;
      user-select: none;

      &-icon {
        width: 15px;
      }
    }

    &_department {
      cursor: pointer;
      user-select: none;
      border-top: 1px solid var(--silver2);
    }
  }

  &__input-wrap {
    position: relative;

    .loader__spinner {
      width: 35px;
      height: 35px;
    }
  }

  &__input-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 238px;
    background-color: var(--white);
    border: 1px solid var(--cool_grey);
    border-top: none;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1;
  }

  &__dropdown-item {
    width: 100%;
    display: table;
    vertical-align: middle;
    table-layout: fixed;
    padding: 10px 15px;
    user-select: none;
    cursor: pointer;

    &_focused {
      background-color: var(--grey);
    }

    &-avatar {
      height: 32px;
      width: 32px;
      display: table-cell;
      vertical-align: top;

      &-img {
        border-radius: 50%;
      }
    }

    &-name {
      width: auto;
      display: table-cell;
      vertical-align: middle;
      padding-left: 10px;
    }

    &-position {
      font-size: 11px;
      color: var(--cool_grey);
    }

    &-placeholder {
      padding: 10px 15px;
      font-size: 11px;
      color: var(--cool_grey);
      white-space: nowrap;
    }
  }

  &__input-description {
    padding: 10px 0 5px;
    font-size: 11px;
    color: var(--cool_grey);

    &_disabled {
      color: cool_grey_05;
    }
  }

  &__check-all {
    &-label {
      color: var(--charcoal_grey);
      user-select: none;
      white-space: nowrap;
    }
  }

  &__value {
    color: var(--reddish_pink);
    font-size: 9px;
    position: relative;
    top: -12px;
    right: -3px;
  }
}
