@import '../../../../style/variables.css';

.user-notification{
  position: relative;


  &__tabs-list {
    max-width: 449px;
    min-width: 449px;
    margin: 0;
    padding: 0 0 13px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style-type: none;
    border-bottom: 1px solid var(--cool_grey);

    &-item {
      border: 1px solid transparent;
      padding: 0 9px;
      min-height: 20px;
      max-height: 20px;
      box-sizing: border-box;
      margin-right: 10px;

      &.is-current {
        border: 1px solid var(--white);
      }

      &.is-current &-text {
        color: var(--white);
      }

      &-text {
        color: var(--white);
        font-size: 11px;
        line-height: 20px;
        margin: 0;
        letter-spacing: 0;
      }

      &-count-employee {
        color: var(--reddish_pink);
        font-size: 9px;
        line-height: 10px;
        letter-spacing: 0;
        margin-left: 1px;
      }
    }
  }

  &__open-icon {
    width: 12px;
    height: 7px;
    color: var(--cool_grey);
    transform: rotate(180deg);
    margin-top: 38px;
    position: absolute;
    right: 0;
  }

  &__close-icon {
    width: 12px;
    height: 7px;
    color: var(--cool_grey);
    margin-top: 38px;
    position: absolute;
    right: 0;
  }


  &__collapse {
  max-width: 449px;
  min-width: 449px;
    padding-top: 16px;
  border-bottom: 1px solid var(--cool_grey);
  color: var(--white);
  &:last-child{
    border: none;
    }
    &-head {
      position: relative;
      display: flex;
      justify-content: flex-start;
      cursor: pointer;
      user-select: none;
      margin: 0 auto;
      padding: 0px 0 13px 22px;

      &-text{
        time{
        color: var(--cool_grey);
        font-size: 9px;
        }

        p{
          color: var(--white);
          margin: 0;
          padding-right: 30px;
        }

      }
      &-link{
        color: var(--silver);
        font-size: 11px;
        text-decoration: underline;
      }



      &-label {
        font-size: 16px;
        letter-spacing: 0;
        color: var(--charcoal_grey);
        margin-bottom: 0;
      }
      &-read {
        position: absolute;
        top: 36px;
        left: 2px;
        min-width: 8px;
        max-width: 8px;
        min-height: 8px;
        max-height: 8px;
        border-radius: 50%;
      }
      &-photo {
        border-radius: 50%;
        max-width: 30px;
        min-width: 30px;
        max-height: 30px;
        min-height: 30px;
        margin-right: 10px;
        margin-top: 25px;
      }
    }

    &-body {
      margin: 0 1px;
      padding: 17px 0 15px 60px;
      font-size: 11px;
      border-top: 1px dotted var(--cool_grey);
      p{
        color: var(--white);
      }
    }
  }

  &__icons{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;

    &.is-open{
      background: var(--white);

      .user-notification__icon{
        color: var(--dark);
      }
    }
  }

  &__icon-wrap{
    position: relative;
  }

  &__icon{
    color: var(--white);
    width: 18px;
    height: 20x;
  }

  &__count-block{
    position: absolute;
    top: -6px;
    left: -12px;
    width: 17px;
    height: 17px;
    background-color: var(--reddish_pink);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
  }

  &__count{
    font-size: 9px;
    letter-spacing: 0.2px;
    width: 95%;
    text-align: center;
    color: var(--white);
    display: block;

  }
  &__wrap{

    &-icon {
      width: 10px;
      height: 10px;
      color: var(--white);
      float: right;
      margin-right: 55px;
      margin-top: -4px;
      display: inline-block;

      &:hover {
        opacity: .9;
      }
     }
   }
  &__menu{
    position: fixed;
    top: 50px;
    right: 0;
    bottom: 0;
    left: auto;
    z-index: 2;
    background: var(--elephant);
    box-shadow: 0px 2px 3px 0 var(--silver2);
    min-width: 524px;
    max-width: 524px;
    padding: 0 0 50px;
    @media (max-width:1300px){
      width: 100%;
      right: -55px;
    }

    &-wrapper {
      overflow-y: auto;
      max-height: 90vh;
      padding:27px 0 0 20px;
      @media (max-width:1300px){
        padding:27px 20px 0 20px;
      }
      &::-webkit-scrollbar {
        width: 6px;
        background-color: var(--cool_grey);
      }

      &::-webkit-scrollbar-thumb {
        background-color: var(--silver);
        border-radius: 15px;
        width: 6px;

      }
    }

    h2{
      margin-bottom: 21px;
      color: var(--white);

    }


    &-list{

    }

    &-list-item{
      list-style: none;
      padding: 15px 20px;

      & + & {
        border-top: 1px var(--silver) solid;
      }
    }

    &-list-title{
      display: block;
      margin-bottom: 10px;
      color: var(--charcoal_grey);
      line-height: 1.43;
    }

    &-list-link{
      line-height: 1.43;
      color: var(--water_blue);
    }
  }
  &__all-notifications{
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    margin-left: -20px;
   }

  &__icon-close {
    width: 10px;
    height: 10px;
    max-width: 10px;
    min-width: 10px;
    min-height: 10px;
    max-height: 10px;
    color: var(--silver);
    cursor: pointer;
  }
}
