.new-bid-team-building {
  &__form{
    @mixin range 550px, 550px, 100%, 100%;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 17px;
    background: var(--white);
  }
  &__button-wrap {
    display: flex;
    margin: 20px 0;
    .mr-20 {
      margin-right: 20px;
    }
  }
}
