$f_w_input: 500;

.search-form-event-one {
  box-sizing: border-box;
  width: 370px;
  margin-left: 25px;
  background: var(--grey);
  padding: 20px 20px 20px 8px;

  @media (max-width: 991px) {
    width: 250px;
  }

  &__search-form {
    padding: 0px 0px 0px 14px;
    border: none;
  }
  &__c-search {
    position: relative;
  }
  &__input-search {
    height: 40px;
    line-height: 40px;
    background-color: var(--white);
    border: solid 1px var(--silver);
    border-radius: 0;
    width: 100%;
    font-size: 13px;
    font-weight: $f_w_input;
    color: var(--charcoal_grey);
    padding: 0 50px;
    &:focus {
      border: solid 1px var(--silver);
      box-shadow: unset;
      outline: 1px solid var(--water_blue);
      outline-offset: 1px;
    }
  }
  &__icon-magnify {
    width: 17px;
    height: 17px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15px;
    margin: auto 0;
    color: var(--cool_grey);
  }
  &__advanced-search {
    position: relative;
    padding: 20px 0;
    z-index: 1;
    background: var(--white);
  }
  &__close {
    position: absolute;
    top: 10px;
    right: 0;
  }
  &__sub-text {
    margin-top: 6px;
    margin-bottom: 19px;
  }
  &__name-text {}
  &__article {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    margin-bottom: 20px;
    justify-content: flex-start;
  }
  &__specialty-text {}
  &__figure {
    width: 32px;
    height: 32px;
    margin-right: 8px;
    img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
    }
  }
  &__wrap-1 {
    margin-right: 22px;
    width: 254px;
    display: block;
  }
  &__delete-icon {
    color: var(--reddish_pink);
    width: 26px;
    height: 24px;
    cursor: pointer;
  }
  &__group {
    border-top: solid 1px var(--silver2);
    border-bottom: solid 1px var(--silver2);
    padding: 19px 0 16px;
    margin-top: 19px;
    display: block;
  }
  &__show-more {
    margin-top: 15px;
    display: block;
  }
  &__value {
    position: relative;
    top: -12px;
    right: -3px;
  }
  &__head-sidebar {
    position: relative;
    width: 135px;
    margin-bottom: 8px;
  }
}
