@import '../../../style/variables.css';

.candidate-expectations-tabs{
  padding-bottom: 20px;
  padding-top: 15px;

  &__text{
    font-size: 13px;
    line-height: 20px;
    text-align: left;
    color: var(--charcoal_grey);
    margin-bottom: 25px;
  }

  &__info-block{
    margin-bottom: 18px;
    display: block;
  }

  &__label{
    font-size: 9px;
    text-align: left;
    text-transform: uppercase;
    line-height: 10px;
    color: var(--cool_grey);
    margin-bottom: 4px;
  }

  &__info-text{
    font-size: 13px;
    line-height: 20px;
    color: var(--charcoal_grey);
    margin: 0;
  }

  &__indent-before-content {
    margin-bottom: 20px;
  }
}
