.employee-card-tab{

  &__list{

    .fade{
      display: none;
      opacity: 1;
    }

    .fade.in{
      display: block;
      opacity: 1;
    }

    & > ul{
      list-style: none;
      padding: 0;
      display: flex;
      margin-top: 10px;
      margin-bottom: 0px;
      border: 1px solid var(--white);
      border-bottom: 1px solid var(--silver2);
      background: var(--grey);
    }
  }

  &__inner{
    border-right: solid 1px transparent;
    border-left: solid 1px transparent;
    background: var(--grey);
    padding: 9px 18px;
    position: relative;

    &:first-child{
      margin-left: 0;
    }

    a{
      color: var(--charcoal_grey);
      white-space: nowrap;
      user-select: none;

      @media (max-width: 991px) {
        white-space: unset;
      }

      &:focus, &:hover, &:active{
        text-decoration: none;
        outline: none;
        color: var(--charcoal_grey);
      }
    }

    &.active{
      border-right: solid 1px var(--silver2);
      border-left: solid 1px var(--silver2);
      background: var(--white);

      &:first-child{
        border-left: solid 1px var(--white);
      }

      &:after {
        background: var(--white);
        bottom: -1px;
        content: "";
        display: block;
        height: 1px;
        left: 0;
        position: absolute;
        right: 0;
        width: 100%;
      }
    }
  }
}
