@import '../../../../../style/variables.css';
@import 'scale.css';
@import 'tooltip.css';

.scale-profile {
  max-height: 80px;
  min-height: 80px;
  background-color: var(--white);
  padding: 16px 20px 12px;
  position: relative;

  &__header {
  }

  &__scale {
    margin: 15px 0 0;
  }

  &__tooltip {
    display: none;
    position: absolute;
    z-index: 1;
  }
}
