.participant-survey {
  height: 100%;
  background: var(--grey);
  padding: 19px 25px 20px 22px;
  margin: 0 0 0 38px;

  @media (min-width: 1600px){
    min-height: 90vh;
  }
  @media (min-width: 1900px){
    min-height: 82vh;
  }
  @media (min-width: 2100px){
    min-height: 67vh;
  }

  &__error {}

  &__group {
    margin-bottom: 15px !important;

    &-label {
      &_disabled {
        color: var(--cool_grey2) !important;
      }
    }
  }

  &__input {
    padding-left: 40px !important;
    transition: none !important;
    appearance: none !important;

    &_disabled {
      box-shadow: none !important;
      color: transparent !important;
      opacity: 0.5 !important;
    }

    &_focused {
      border: solid 1px var(--cool_grey) !important;
    }

    &-icon {
      position: absolute;
      margin: auto 0;
      top: 0;
      bottom: 0;
      left: 15px;
      width: 17px;
      height: 17px;
      color: var(--cool_grey);
    }
  }

  &__item {
    width: 100%;
    display: table;
    padding: 18px 0;
    table-layout: fixed;
    vertical-align: top;
    border-top: 1px solid var(--silver2);

    &-avatar {
      padding-top: 3px;
      width: 32px;
      display: table-cell;
      vertical-align: top;

      &-img {
        border-radius: 50%;
      }
    }

    &-name {
      width: auto;
      padding-left: 10px;
      display: table-cell;
      vertical-align: middle;
      overflow: hidden;
      color: var(--charcoal_grey);
    }

    &-position, &-departments {
      font-size: 11px;
      color: var(--cool_grey);
      line-height: 1.5;
    }

    &-remove {
      width: 35px;
      display: table-cell;
      vertical-align: top;
      padding-left: 16px;
      line-height: 16px;
      cursor: pointer;
      user-select: none;

      &-icon {
        width: 15px;
      }
    }

    &_department {
      margin: 10px 0;
      cursor: pointer;
      user-select: none;
      border-top: 1px solid var(--silver2);
      border-bottom: 1px solid var(--silver2);
    }
  }

  &__input-wrap {
    position: relative;
  }

  &__input-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 238px;
    background-color: var(--white);
    border: 1px solid var(--cool_grey);
    border-top: none;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1;
  }

  &__dropdown-item {
    width: 100%;
    display: table;
    vertical-align: middle;
    table-layout: fixed;
    padding: 10px 15px;
    user-select: none;
    cursor: pointer;

    &_focused {
      background-color: var(--grey);
    }

    &-avatar {
      height: 32px;
      width: 32px;
      display: table-cell;
      vertical-align: top;

      &-img {
        border-radius: 50%;
      }
    }

    &-name {
      width: auto;
      display: table-cell;
      vertical-align: middle;
      padding-left: 10px;
    }

    &-position {
      font-size: 11px;
      color: var(--cool_grey);
    }

    &-placeholder {
      padding: 10px 15px;
      font-size: 11px;
      color: var(--cool_grey);
      white-space: nowrap;
    }
  }

  &__input-description {
    padding: 9px 0 5px;

    &_disabled {
      color: cool_grey_05;
    }
  }

  &__check-all {
    margin-bottom: 20px;
    &-label {
      color: var(--charcoal_grey);
      user-select: none;
      white-space: nowrap;
    }
  }

  &__value-participant {
    position: absolute;
    top: 5px;
    margin-left: 5px;
  }

  h2 {
    position: relative;
  }
}
