.notify-roster {
  margin-top: 11px;
  margin-left: -19px;

  &__header {
    @mixin flex flex, center, flex-start;
    margin-bottom: 8px;
  }

  &__b-title {
    @mixin range 220px, 220px, inherit, inherit;
    margin-left: 20px;
  }

  &__b-date-time {
    @mixin range 131px, 131px, inherit, inherit;
  }

  &__b-priority {}
}
