.search-b {
  display: flex;
  background-color: var(--white);
  width: 100%;
  justify-content: space-between;

  &-wrapper-input {
    position: relative;
    margin-right: 20px;
    flex: 1;
  }

  &-input {
    min-height: 40px;
    max-height: 40px;
    line-height: 40px;
    width: 100%;
    border: 1px solid var(--silver);
    padding-left: 45px;

  &:focus {
     outline: 1px solid var(--water_blue);
     outline-offset: 1px;
   }
  }

  &__icon-loupe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 13px;
    margin: auto 0;
    color: var(--cool_grey);
    width: 17px;
    height: 17px;
  }
}
